{% extends "epubeditor/base.html" %}

{% block title %}Align: {{ title }} - {{ book.title }}{% endblock %}

{% block header_center %}
  <sl-button-group label="book navigation">
    <sl-button id="prev-chapter" variant="primary"
               {% if prev_item_id %}href="{% url "align" username basename prev_item_id %}"
               {% else %}disabled{% endif %}>
      <sl-icon name="chevron-left" label="to previous chapter"></sl-icon>
    </sl-button>
    <sl-button id="to-toc" variant="primary" href="{% url "book_detail" username basename %}">
      <sl-icon name="book" label="to table of contents"></sl-icon>
    </sl-button>
    <sl-button id="next-chapter" variant="primary"
               {% if next_item_id %}href="{% url "align" username basename next_item_id %}"
               {% else %}disabled{% endif %}>
      <sl-icon name="chevron-right" label="to next chapter"></sl-icon>
    </sl-button>
  </sl-button-group>
{% endblock header_center %}

{% block main %}
  <h1>Align: {{ title }}</h1>
  <p>Essentially, alignments are created in three steps:</p>
  <ol>
    <li>Run speech recognition on the audio</li>
    <li>Alignment of recognition results to original text (here via <a
            href="https://en.wikipedia.org/wiki/Needleman%E2%80%93Wunsch_algorithm" target="_blank">Needleman–Wunsch
      algorithm
      <sl-icon name="box-arrow-up-right" label="external link"></sl-icon>
    </a>)
    </li>
    <li>Manually select a silence threshold to control term size</li>
  </ol>
  <p>
    If I ever find good metrics for such audio-to-text alignments I would like to try out different algorithms.
    Feel free to drop an email if you know something.
  </p>

  {% block align_main %}{% endblock %}
{% endblock main %}
